@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

*{
    padding: 0px;
    margin: 0px;
}

body{
    background-image: url('imagens/background001.jpg');
    background-position: right top;
    background-attachment: fixed;
    background-size: cover;
    max-width: 1800px;
    min-width: 320px;
}

header{
    background-color: black;
    height: 200px;
    
}

header h1{
    color: white;
    font-family: Passion One ;
    text-align: center;
    padding-top: 50px;
    font-size: 3em;
}

header p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 10px;
}

header a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header a:hover{
    text-decoration: underline;
}

section{
    max-width: 1800px;
    min-width: 320px;
}

section.normal{
    background-color: white;
    padding: 50px 0px 50px 40px;
    font-family: Sriracha, helvetica, sans-serif;
    font-size: 1.8em;
}

section.transparente{
    color: white;
    /*padding: 50px 0px 50px 40px;*/
    margin: 50px 0px 50px 20px;
    padding: 18px 5px;
    font-family: Sriracha, helvetica, sans-serif;
    font-size: 1.8em;
    background-color: rgba(0, 0, 0, 0.267);
    width: 400px;
    max-width: 320px;
    min-width: 320px;
} 

footer{
    background-color: black;
    padding: 10px;
}

footer p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    text-align: center;
}

footer a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    
}

footer a:hover{
    text-decoration: underline;
}