@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

*{
    padding: 0px;
    margin: 0px;
}

header{
    background-color: black;
    height: 150px;
}

header h1{
    color: white;
    font-family: Passion One ;
}

header p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

header a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}