@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
}


header{
    background-color: black;
    text-align: center;
    color: white;
}

header h1{
    font-family: passion one, helvetica, sans-serif;
    padding-top: 50px;
    font-variant: small-caps;
    padding-bottom: 20px;
}

header p {
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 50px;
}

header a, footer a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a, footer a:hover{
    text-decoration: underline;
}

section{
    font-family: sriracha, arial, sans-serif;
    line-height: 2em;
    padding: 10vh 0px 10vh 30px;
}

section.normal{
    background-color: white;
    color: black;
}

section.imagem{
    background-color: rgb(70, 69, 69);
    color: white;
}

section.imagem > p {
    background-color: rgba(0, 0, 0, 0.404);
    width: 400px;
}

footer{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: black;
    text-align: center;
    padding: 10px;
}